@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn{
  position: absolute;
  top: 15px;
  left: 15px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 265px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #000;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-bottom: 1 px solid rgba(255,255,255,0.1);
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 10px solid transparent;
}
nav ul li a:hover{
  color: white;
  background: #262626;
  border-left-color: #91D1D3;
}

.header__texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(https://cdn.discordapp.com/attachments/557305648006823956/918777395178258432/fond.png) center no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
    z-index: -1;
}

.wave.wave1 {
    animation: animate3 30s linear infinite;
    z-index: 900;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 899;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave3 {
    animation: animate2 30s linear infinite;
    z-index: 898;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

.wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 897;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate3 {
    0%
    {
        background-position-x: 0;

    }
    100%
    {
        background-position-x: 1000px;
        
    }
}

@keyframes animate2 {
    0%
    {
        background-position-x: 0;

    }
    100%
    {
        background-position-x: -1000px;
        
    }
}
